<div class="container">
  <h1>Correlación</h1>

  <h6>Adriana Paola Goyeneche</h6>
  <h6>Johann Smith Reyes Zapata</h6>
  <h6>Julian Andres Cedeño Mora</h6>

  <br />

  <div class="row">
    <div class="col-8">
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
        <div class="form-group">
          <label for="x">X</label>
          <input id="x" class="form-control" type="number" formControlName="x" />
        </div>

        <div class="form-group">
          <label for="Y">Y</label>
          <input id="y" class="form-control" type="number" formControlName="y" />
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="dataForm.invalid">Agregar</button>
      </form>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N</th>
            <td>{{dataArray.length | number:'1.0-2'}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">X Media</th>
            <td>{{sumar('x') / dataArray.length | number:'1.0-2'}}</td>
          </tr>
          <tr>
            <th scope="row">Y Media</th>
            <td>{{sumar('y') / dataArray.length | number:'1.0-2'}}</td>
          </tr>
          <tr>
            <th scope="row">Sumatoria XY</th>
            <td>
              {{(sumar('xy') / dataArray.length) - ((sumar('x') / dataArray.length) * (sumar('y') / dataArray.length)) | number:'1.0-2'}}
            </td>
          </tr>
          <tr>
            <th scope="row">(X)</th>
            <td>
              {{raiz( (sumar('x2') / dataArray.length) - ((sumar('x') / dataArray.length) * (sumar('x') / dataArray.length)) ) | number:'1.0-2'}}
            </td>
          </tr>
          <tr>
            <th scope="row">(Y)</th>
            <td>
              {{raiz( (sumar('y2') / dataArray.length) - ((sumar('y') / dataArray.length) * (sumar('y') / dataArray.length)) ) | number:'1.0-2'}}
            </td>
          </tr>
          <tr>
            <th scope="row">Covarianza</th>
            <td>
              {{ 
                ((sumar('xy') / dataArray.length) - ((sumar('x') / dataArray.length) * (sumar('y') / dataArray.length)))
                /
                (
                  (raiz( (sumar('y2') / dataArray.length) - ((sumar('y') / dataArray.length) * (sumar('y') / dataArray.length)) ))
                  *
                  (raiz( (sumar('x2') / dataArray.length) - ((sumar('x') / dataArray.length) * (sumar('x') / dataArray.length)) ))
                )
                | number:'1.0-2'
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">X</th>
        <th scope="col">Y</th>
        <th scope="col">X^2</th>
        <th scope="col">Y^2</th>
        <th scope="col">X*Y</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray;index as index">
        <th scope="row">{{index + 1}}</th>
        <td>{{data.x}}</td>
        <td>{{data.y}}</td>
        <td>{{data.x2}}</td>
        <td>{{data.y2}}</td>
        <td>{{data.xy}}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <th scope="row">{{sumar('x')}}</th>
        <th scope="row">{{sumar('y')}}</th>
        <th scope="row">{{sumar('x2')}}</th>
        <th scope="row">{{sumar('y2')}}</th>
        <th scope="row">{{sumar('xy')}}</th>
      </tr>
    </tbody>
  </table>

  <br />

  <div style="height:40vh; width:80vw">
    <canvas id="dispersion"></canvas>
  </div>
</div>